<!DOCTYPE html>
<html>
<head>
    <title>Microservice</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #C8A2C8; /* Add background color */
        }
    
        .message {
            text-align: center;
            font-size: 24px;
            color: #800080; /* Change text color */
        }
    </style>    
</head>
<body>
    <div class="message">
        Greetings from the DevOps Squadron!
    </div>
</body>
</html>
